* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
}

.heder ul {
    text-align: center;
}

ul li h1 {
    font-size: 40px;
}

.heder ul {
    display: flex;
    list-style: none;
    padding: 22px 0 0 88px;

}

.buts {
    gap: 20px;
    display: flex;
    margin-left: 180px;
}

.but2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 87px;
    height: 38px;
    border: 2px #FF5B00 solid;
    color: #FF5B00;
    border-radius: 7px ;
}



.but {
    width: 101px;
    height: 38px;
    background-color: #FF5B00;
    border-radius: 7px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a1 {
    font-size: 18px;
    position: relative;
    right: 90px;
    bottom: 10px;
}

.a1 {
    gap: 80px;
    margin-left: 358px;
}

.nav .levo h1 span{
    color: #D91F1F;
}

.nav {
    padding: 250px 0 0 88px;
    display: flex
}

.btnlevo {
    width: 201px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 7px;
    background-color: #FF5B00;
    margin-top: 65px;
    margin-bottom: 51px;
    position: relative;
    bottom: 60px;
}

.s1 input {
    width: 440px;
    height: 63px;
    border-radius: 7px;
    border-color: gray;
    position: relative;
    bottom: 55px;
}

.s1 img {
    margin-top: 49px;
    width: 169px;
    height: 37px;
    position: relative;
    bottom: 55px;
}

.pravo {
    position: relative;
    bottom: 315px;
    left: -135px;
}

.levo h1 {
    white-space: nowrap;
    font-size: 60px;
    position: relative;
    bottom: 20px;
}

.levo p {
    font-size: 18px;
    margin-top: 51px;
    position: relative;
    bottom: 60px;
}


.niznav .s12 {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.niznav h2 {
    display: flex;
    justify-content: center;
}

.niznav .s12 {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;           
    justify-content: center; 

}


.s12 {
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
    justify-content: center;
    position: relative;
    right: 40px;
    top: 43px;
}


.niznav {
    position: relative;
    bottom: 370px;
}

.category-card {
    position: relative;
    width: 256px;
    height: 352px;
    border-radius: 12px;
    overflow: hidden;
}

.category-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    color: white;
}

.category-overlay h3 {
    font-size: 28px;
    margin: 0;
}

.category-overlay p {
    margin: 5px 0 10px;
    font-size: 16px;
}

.category-overlay span {
    color: #FF5B00;
    font-weight: bold;
    font-size: 30px;
}

.order-btn {
    background: #FF5B00;
    border: none;
    width: 132.2313995361328px;
    height: 32.67634963989258px ;
    padding: 8px 15px;
    border-radius: 8px;
    color: white;
}

.nijenija {
    position: relative;
    bottom: 200px;
    left: 600px;
    align-items: center;
}

.nijenija h1{
    position: relative;
    left: 80px;
}